<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <meta name="author" content="">
    <meta name="description" content="Task">
    <meta name="keywords" content="">
    <title>The base page</title>
    <!-- loading th static files -->
    {% load static %}
      <link rel="stylesheet" href="{% static 'Event/css/bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'Invent/css/bootstrap-theme.css' %}">
      <link rel="stylesheet" href="{% static 'Invent/css/base.css' %}">
